BPMSOFT_APP_NAME=BPMSoft ML Router
BPMSOFT_APP_VERSION=0.1.0
BPMSOFT_API_PREFIX=/api
BPMSOFT_DEBUG=false
BPMSOFT_LOG_LEVEL=INFO
BPMSOFT_HOST=0.0.0.0
BPMSOFT_PORT=8000
BPMSOFT_KARINA_MODEL_PATH=/Users/stephan/Documents/bpmsoft/Karina/champion_model_best.zip
BPMSOFT_KARINA_PACKAGE_DIR=/Users/stephan/Documents/bpmsoft/Karina/Forecasting-demand
BPMSOFT_RL_METRICS_DIR=/Users/stephan/Documents/bpmsoft/Backend/artifacts/rl_metrics
BPMSOFT_RL_MODEL_PATH=/Users/stephan/Documents/bpmsoft/Backend/artifacts/rl_model/rl_demand_model.zip
BPMSOFT_RL_PREPROCESSOR_PATH=/Users/stephan/Documents/bpmsoft/Backend/artifacts/rl_model/preprocessor.pkl
BPMSOFT_RL_REFERENCE_DATA_PATH=/Users/stephan/Documents/bpmsoft/FMCG_2022_2024 (2).csv
BPMSOFT_DASHBOARD_API_BASE_URL=http://127.0.0.1:8000/api
