BPMSOFT_APP_NAME=BPMSoft ML Router
BPMSOFT_APP_VERSION=0.1.0
BPMSOFT_API_PREFIX=/api
BPMSOFT_DEBUG=false
BPMSOFT_LOG_LEVEL=INFO
BPMSOFT_HOST=0.0.0.0
BPMSOFT_PORT=8000
BPMSOFT_KARINA_MODEL_PATH=/Users/stephan/Documents/bpmsoft/Karina/champion_model_best.zip
BPMSOFT_KARINA_PACKAGE_DIR=/Users/stephan/Documents/bpmsoft/Karina/Forecasting-demand
BPMSOFT_DASHBOARD_API_BASE_URL=http://127.0.0.1:8000/api
